<%= turbo_frame_tag dom_id(polling_location), target: 'polling_location_form', class: "grid grid-cols-subgrid col-span-full hover:bg-slate-100" do %>
  <div class="col-span-2">
    <%= polling_location.title %>
  </div>

  <div class="col-span-1">
    <%= polling_location.address %>
  </div>

  <div class="col-span-1">
    <%= polling_location.city %>
  </div>

  <div class="col-span-1">
    <%= polling_location.postal_code %>
  </div>

  <div class="col-span-1">
    <%= polling_location.polls.map(&:number).join(", ")  %>
  </div>

  <%= link_to 'edit', edit_riding_polling_location_path(riding, polling_location), class: "col-span-1" %>
<% end %>
