<p style="color: green"><%= notice %></p>

<h1 class="text-xl font-semibold leading-6 text-gray-900"><%= @riding.name %> - <%= @riding.riding_code %></h1>
<%= @riding.province %>


<h2 class="mt-4 text-lg font-semibold leading-6 text-gray-900">Polling locations</h2>

<div class="mt-6 p-6 border border-gray-500 rounded-lg grid grid-cols-6 gap-y-2">
  <div class="col-span-2 font-medium">
    Title
  </div>

  <div class="col-span-1 font-medium">
    Address
  </div>

  <div class="col-span-1 font-medium">
    City
  </div>

  <div class="col-span-1 font-medium">
    Postal code
  </div>

  <div class="col-span-1 font-medium">
    Polls
  </div>

  <% if @polling_locations.any? %>
    <% @polling_locations.each do |polling_location| %>
      <div class="col-span-2">
        <%= polling_location.title %>
      </div>

      <div class="col-span-1">
        <%= polling_location.address %>
      </div>

      <div class="col-span-1">
        <%= polling_location.city %>
      </div>

      <div class="col-span-1">
        <%= polling_location.postal_code %>
      </div>

      <div class="col-span-1">
        <%= polling_location.polls.map(&:number).join(", ")  %>
      </div>
    <% end %>
  <% else %>
    <div class="col-span-5 text-center mt-3">No polling locations</div>
  <% end%>
</div>