<p style="color: green"><%= notice %></p>

<h1 class="text-xl font-semibold leading-6 text-gray-900"><%= @riding.name %> - <%= @riding.riding_code %></h1>
<%= @riding.province %>


<h2 class="mt-4 text-lg font-semibold leading-6 text-gray-900">Polling locations</h2>

<%= link_to 'Add new polling location', new_riding_polling_location_path(@riding), data: { turbo_frame: 'polling_location_form' } %>
<div class="mt-6 p-6 border border-gray-500 rounded-lg grid grid-cols-7 gap-y-2">
  <div class="col-span-2 font-medium">
    Title
  </div>

  <div class="col-span-1 font-medium">
    Address
  </div>

  <div class="col-span-1 font-medium">
    City
  </div>

  <div class="col-span-1 font-medium">
    Postal code
  </div>

  <div class="col-span-1 font-medium">
    Polls
  </div>

  <% if @polling_locations.any? %>
    <%= turbo_frame_tag 'polling_locations', class: "grid grid-cols-subgrid col-span-full auto-rows-fr" do %>
      <% @polling_locations.each do |polling_location| %>
        <%= render 'polling_location_row', polling_location:, riding: @riding %>
      <% end %>
    <% end %>
  <% else %>
    <div class="col-span-5 text-center mt-3">No polling locations</div>
  <% end%>
</div>

<%= turbo_frame_tag 'polling_location_form' do %>
<% end %>